
# Neo4j Database (local container)
NEO4J_URI=neo4j+s://8de1e845.databases.neo4j.io:7687
NEO4J_USER=neo4j
NEO4J_PASSWORD=upQcrA3r8XsnVitUjHjRl6mWSp43aou5NI3HvAz8Q40

# SQLite Database
DATABASE_URL=""

